---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Navbar from '../../components/Navbar.astro';
import Footer from '../../components/Footer.astro';
---

<BaseLayout title="PAZZÉ Thomas - dev Full Stack 🎯" description="Portfolio et blog de PAZZÉ Thomas, développeur full-stack, où vous pouvez découvrir ses projets et articles sur le développement web.">
  <slot name="navbar">
    <Navbar lang="fr" />
  </slot>

  <!-- Section Héros Accueil -->
  <section id="home-hero">
    <h1>Bonjour, je suis Thomas PAZZÉ 🤙</h1>
    <p>Bienvenue sur mon portfolio et blog !</p>
    <div class="links">
      <button class="btn-syle-1" data-hover="clique ici !" onclick="window.location.href='/blog'" transition:persist=""><div>blog</div></button>
			<button class="btn-syle-1" data-hover="clique ici !" onclick="window.location.href='#contact'" transition:persist=""><div>contact</div></button>
    </div>
    <div class="mouse">
      <div class="scroll"></div>
    </div>
  </section>

  <!-- Section À propos de moi -->
  <section id="about-me">
    <h2>À propos de moi</h2>
    <p class="about-me-pitch">Je suis un <em>Architecte numérique polyvalent</em> actuellement basé en France.</p>
    <div class="about-content">
      <div class="about-know-me">
        <h3>Apprenez à me connaître !</h3>
        <p class="need-highlited">
					Je suis Thomas, développeur web passionné et déterminé, actuellement basé en France. Mon objectif est simple : <em>apprendre</em> autant que possible, devenir un expert dans mon domaine et résoudre des problèmes complexes avec des solutions efficaces. Je me concentre sur la <em>maîtrise</em> des technologies et la constante amélioration de mes compétences. L’essentiel pour moi est d’atteindre un haut niveau de spécialisation.
        </p>
        <p class="need-highlited">Construisons <em>ensemble</em> quelque chose de grand !</p>
      </div>
			<div class="about-img">
				<img src="/img/aboutme.jpg" alt="Image de Thomas" width="400" height="400" />
			</div>
      <div class="about-skills">
				<h3>Mes compétences</h3>
				<div class="skills-category">
					<h4>Langages de programmation</h4>
					<div class="skills-list">
						<span class="skill">C#</span>
						<span class="skill">Python</span>
						<span class="skill">PHP</span>
						<span class="skill">PL/SQL</span>
					</div>
				</div>
				<div class="skills-category">
					<h4>Frameworks</h4>
					<div class="skills-list">
						<span class="skill">React</span>
						<span class="skill">Symfony</span>
					</div>
				</div>
			</div>
		</div>
  </section>

  <!-- Section Contact -->
  <section id="contact">
    <h2>Contact</h2>
    <p>
      Que ce soit pour une collaboration, un projet freelance, un partenariat ou simplement échanger autour de vos idées, je suis toujours ouvert à la discussion. Vous pouvez me contacter à l’adresse suivante :
      <a 
        class="mail" 
        href="mailto:thomaspazze.pro@gmail.com"
      >
        thomaspazze.pro@gmail.com
      </a>
    </p>
  </section>

  <slot name="footer">
    <Footer lang="fr" />
  </slot>
</BaseLayout>
