---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="Thomas PAZZÉ - Full Stack dev 🎯" description="Portfolio and blog of Thomas PAZZÉ, a full-stack developer, where you can explore his projects and articles on web development.">
  <slot name="navbar">
    <Navbar lang="en" />
  </slot>

  <!-- Home Hero Section -->
  <section id="home-hero">
    <h1>Hello, i'm Thomas PAZZÉ 🤙</h1>
    <p>Welcome to my portfolio and blog!</p>
    <div class="links">
			<button class="btn-syle-1" data-hover="click me!" onclick="window.location.href='/blog'" transition:persist=""><div>blog</div></button>
			<button class="btn-syle-1" data-hover="clique ici !" onclick="window.location.href='#contact'" transition:persist=""><div>contact</div></button>
		</div>
		<div class="mouse">
			<div class="scroll"></div>
		</div>
  </section>

  <!-- About Me Section -->
  <section id="about-me">
    <h2>About Me</h2>
    <p>I'm a <em>Versatile Digital Architect</em> currently based in France.</p>
    <div class="about-content">
      <div class="about-know-me">
        <h3>Get to know me!</h3>
        <p class="need-highlited">
					I’m Thomas, a passionate and determined web developer based in France. My goal is simple: to <em>learn</em> as much as possible, become an expert in my field, and tackle complex problems with effective solutions. I focus on <em>mastering</em> technologies and continuously improving my skills. Ultimately, my goal is to reach a high level of <em>specialization</em>.
				</p>
				<p class="need-highlited">Let’s <em>build</em> something great together!</p>
      </div>
			<div class="about-img">
				<img src="/img/aboutme.jpg" alt="Thomas' image" width="400" height="400" />
			</div>
      <div class="about-skills">
				<h3>My Skills</h3>
				<div class="skills-category">
					<h4>Programming Languages</h4>
					<div class="skills-list">
						<span class="skill">C#</span>
						<span class="skill">Python</span>
						<span class="skill">PHP</span>
						<span class="skill">PL/SQL</span>
					</div>
				</div>
				<div class="skills-category">
					<h4>Frameworks</h4>
					<div class="skills-list">
						<span class="skill">React</span>
						<span class="skill">Symfony</span>
					</div>
				</div>
			</div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact">
    <h2>Contact</h2>
    <p>
			Whether it's for a collaboration, a freelance project, a partnership, or simply to discuss your ideas, I'm always open to talk. You can contact me at the following address:
			<a 
			class="mail" 
			href="mailto:thomaspazze.pro@gmail.com;"
			>
				thomaspazze.pro@gmail.com
			</a>
		</p>
  </section>

  <slot name="footer">
    <Footer lang="en" />
  </slot>
</BaseLayout>