---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="My Portfolio" description="Welcome to my site!">
  <slot name="navbar">
    <Navbar lang="en" />
  </slot>

  <!-- Home Hero Section -->
  <section id="home-hero">
    <h1>Hello, i'm Thomas PAZZÉ 🤙</h1>
    <p>Welcome to my portfolio and blog!</p>
    <div class="links">
			<button class="btn-syle-1" data-hover="click me!" onclick="window.location.href='/blog'" transition:persist=""><div>blog</div></button>
    </div>
		<div class="mouse">
			<div class="scroll"></div>
		</div>
  </section>

  <!-- Projects Section -->
  <section id="projects">
    <h2>Some of my projects</h2>
    <div class="projects-list">
      <div class="project">
        <h3>WEB APPLICATION: Recruitment Platform</h3>
        <p>Development of a recruitment platform focused on application testing, data security, client requirements analysis, agile project management, and seamless integration within a development team.</p>
				<span class="skill project-tool">api platform</span>
				<span class="skill project-tool">codeception</span>
				<span class="skill project-tool">reactjs</span>
				<span class="skill project-tool">sql</span>
				<span class="skill project-tool">symfony</span>
				<button class="btn-syle-1 wip" data-hover="click me!" onclick="window.location.href='#'"><div>more info</div></button>
      </div>
      <div class="project">
        <h3>WEB APPLICATION: Movie Management</h3>
        <p>Development of a movie management application with full CRUD functionality and a filtering system to sort films based on specific criteria.</p>
				<span class="skill project-tool">php Legacy</span>
				<span class="skill project-tool">mysql</span>
        <button class="btn-syle-1 wip" data-hover="click me!" onclick="window.location.href='#'"><div>more info</div></button>
      </div>
      <div class="project">
        <h3>WEB APPLICATION: Bookmark Sharing</h3>
        <p>Design and development of an interactive platform allowing users to share and organize bookmarks retrieved from an API.</p>
				<span class="skill project-tool">REACT</span>
				<span class="skill project-tool">VITEJS</span>
        <button class="btn-syle-1 wip" data-hover="click me!" onclick="window.location.href='#'"><div>more info</div></button>
      </div>
    </div>
  </section>

  <!-- About Me Section -->
  <section id="about-me">
    <h2>About Me</h2>
    <p>I'm a <em>Versatile Digital Architect</em> currently based in France.</p>
    <div class="about-content">
      <div class="about-know-me">
        <h3>Get to know me!</h3>
        <p class="need-highlited">
					Hi! I'm Thomas, a passionate and determined web developer with a strong interest in everything IT. My journey into tech started with simple curiosity, and quickly turned into a deep enthusiasm for coding and problem-solving.
					I love diving into new technologies, constantly learning, and finding smart solutions to tough challenges.
					I’m someone who values <em>determination</em> and <em>curiosity</em>. Always pushing to improve and stay on top of the latest trends.
					Outside of tech, I practice BJJ (Brazilian Jiu-Jitsu), a sport that teaches me <em>discipline</em>, <em>focus</em>, and <em>perseverance</em>, values I bring into my professional life too.
				</p>
				<p class="need-highlited">Let’s <em>build</em> something great together!</p>
      </div>
      <div class="about-skills">
        <h3>My Skills</h3>
        <div class="skills-list">
          <span class="skill">HTML</span>
          <span class="skill">CSS</span>
          <span class="skill">JavaScript</span>
          <span class="skill">React</span>
          <span class="skill">c# .net</span>
          <span class="skill">symfony</span>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact">
    <h2>Contact</h2>
    <p>
			Que ce soit pour une collaboration, un projet freelance, un partenariat ou simplement échanger autour de vos idées, je suis toujours ouvert à la discussion. Vous pouvez me contacter à l’adresse suivante :
			<a 
			class="mail" 
			href="mailto:&#116;&#104;&#111;&#109;&#97;&#115;&#46;&#112;&#97;&#122;&#122;&#101;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#67;&#111;&#110;&#116;&#97;&#99;&#116;&#37;&#50;&#48;&#100;&#101;&#112;&#117;&#105;&#115;&#37;&#50;&#48;&#108;&#101;&#37;&#50;&#48;&#115;&#105;&#116;&#101&#38;&#98;&#111;&#100;&#121;&#61;&#66;&#111;&#110;&#106;&#111;&#117;&#114;&#37;&#50;&#48;&#84;&#104;&#111;&#109;&#97;&#115;&#44;"
			>
				thomas.pazze@gmail.com
			</a>
		</p>
  </section>

  <slot name="footer">
    <Footer lang="en" />
  </slot>
</BaseLayout>