---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="My Portfolio" description="Welcome to my site!">
  <slot name="navbar">
    <Navbar lang="en" />
  </slot>

  <!-- Home Hero Section -->
  <section id="home-hero">
    <h1>Hello, i'm Thomas PAZZÉ</h1>
    <p>Welcome to my portfolio and blog!</p>
    <div class="links">
			<button class="btn-syle-1" data-hover="click me!" onclick="window.location.href='/blog'" transition:persist=""><div>blog</div></button>
    </div>
		<div class="mouse">
			<div class="scroll"></div>
		</div>
  </section>

  <!-- Projects Section -->
  <section id="projects">
    <h2>Projects</h2>
    <div class="projects-list">
      <div class="project">
        <h3>Project One</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<button class="btn-syle-1" data-hover="click me!" onclick="window.location.href='#'"><div>more info</div></button>
      </div>
      <div class="project">
        <h3>Project Two</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button class="btn-syle-1" data-hover="click me!" onclick="window.location.href='#'"><div>more info</div></button>
      </div>
      <div class="project">
        <h3>Project Three</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button class="btn-syle-1" data-hover="click me!" onclick="window.location.href='#'"><div>more info</div></button>
      </div>
    </div>
  </section>

  <!-- About Me Section -->
  <section id="about-me">
    <h2>About Me</h2>
    <p>Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology.</p>
    <div class="about-content">
      <div class="about-know-me">
        <h3>Get to know me!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at elit sit amet turpis volutpat pretium.</p>
      </div>
      <div class="about-skills">
        <h3>My Skills</h3>
        <div class="skills-list">
          <span class="skill">HTML</span>
          <span class="skill">CSS</span>
          <span class="skill">JavaScript</span>
          <span class="skill">React</span>
          <span class="skill">Astro</span>
          <span class="skill">Node.js</span>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact">
    <h2>Contact</h2>
    <p>
			Que ce soit pour une collaboration, un projet freelance, un partenariat ou simplement échanger autour de vos idées, je suis toujours ouvert à la discussion. Vous pouvez me contacter à l’adresse suivante :
			<a 
			class="mail" 
			href="mailto:&#116;&#104;&#111;&#109;&#97;&#115;&#46;&#112;&#97;&#122;&#122;&#101;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#67;&#111;&#110;&#116;&#97;&#99;&#116;&#37;&#50;&#48;&#100;&#101;&#112;&#117;&#105;&#115;&#37;&#50;&#48;&#108;&#101;&#37;&#50;&#48;&#115;&#105;&#116;&#101&#38;&#98;&#111;&#100;&#121;&#61;&#66;&#111;&#110;&#106;&#111;&#117;&#114;&#37;&#50;&#48;&#84;&#104;&#111;&#109;&#97;&#115;&#44;"
			>
				thomas.pazze@gmail.com
			</a>
		</p>
  </section>

  <slot name="footer">
    <Footer lang="en" />
  </slot>
</BaseLayout>