---
import { useLang } from '../i18n/useLang.js';

const { translatedPostUrl } = Astro.props;

const { lang } = Astro.props;
const t = useLang(lang);

const switchLanguageUrl = () => {
  const currentPath = Astro.url.pathname;
  
  if (lang === 'fr') {
    return currentPath.replace(/^\/fr/, '') || '/';
  } else {
    return '/fr' + (currentPath === '/' ? '' : currentPath);
  }
};
---
<div id="burger" class="burger">
  <span></span>
	<span></span>
	<span></span>
</div>
<nav id="nav-links" class="hidden">
  <li><a class="nav-button-link" href={lang === 'fr' ? '/fr/' : '/'}>{t.home}</a></li>
  <li><a class="nav-button-link" href={lang === 'fr' ? '/fr/projects' : '/projects'}>{t.projects}</a></li>
  <li><a class="nav-button-link" href={lang === 'fr' ? '/fr/blog' : '/blog'}>{t.blog}</a></li>
  <li><a class="nav-button-link" href={lang === 'fr' ? '/fr/about' : '/about'}>{t.about}</a></li>

  <!-- Switcher langue -->
  <span style="margin-left: 1rem;">
		<a id="lang-toggle" class="nav-button-link" href={translatedPostUrl ?? switchLanguageUrl()}>
			{lang === 'fr' ? 'EN' : 'FR'}
		</a>
	</span>
</nav>